# 1. Import libraries

In [1]:
# This are the libraries used in this jupyter:
import numpy as np 
import pandas as pd

# 2. Import data

In [2]:
df_smart = pd.read_csv("../data/Smart_City_index.csv",encoding = "ISO-8859-1")

# 3. EDA

## 3.1 Smart City Index

In [3]:
df_smart.head()

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
0,1,Oslo,Norway,6480,6512,7516,4565,8618,9090,7138,666
1,2,Bergen,Norway,7097,6876,7350,4905,8050,9090,7296,823
2,3,Amsterdam,Netherlands,7540,5558,8528,8095,7098,7280,7311,839
3,4,Copenhagen,Denmark,7490,7920,8726,5580,5780,7200,7171,698
4,5,Stockholm,Sweden,6122,7692,8354,4330,6743,7730,6812,340

In [4]:
df_smart.columns

Index(['Id', 'City', 'Country', 'Smart_Mobility ', 'Smart_Environment',
       'Smart_Government ', 'Smart_Economy ', 'Smart_People', 'Smart_Living',
       'SmartCity_Index', 'SmartCity_Index_relative_Edmonton'],
      dtype='object')

In [5]:
# There are some spaces of each column head
# Therefore, we need to remove those
dict_rename = {'Smart_Mobility ': 'Smart_Mobility',
          'Smart_Government ': 'Smart_Government',
          'Smart_Economy ': 'Smart_Economy'
          }

df_smart.rename(columns=dict_rename, inplace=True)
df_smart.head()

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
0,1,Oslo,Norway,6480,6512,7516,4565,8618,9090,7138,666
1,2,Bergen,Norway,7097,6876,7350,4905,8050,9090,7296,823
2,3,Amsterdam,Netherlands,7540,5558,8528,8095,7098,7280,7311,839
3,4,Copenhagen,Denmark,7490,7920,8726,5580,5780,7200,7171,698
4,5,Stockholm,Sweden,6122,7692,8354,4330,6743,7730,6812,340

In [6]:
# As we are not going to need the followinf columns for this purpose, we remove them
df_smart.drop(["Id", "SmartCity_Index_relative_Edmonton"], axis=1, inplace=True)

In [7]:
df_smart.City.unique()

array(['Oslo', 'Bergen', 'Amsterdam', 'Copenhagen', 'Stockholm',
       'Montreal', 'Vienna', 'Odense', 'Singapore', 'Boston', 'Zurich',
       'Trondheim', 'VÃ¤sterÃ¥s', 'Aalborg', 'Ottawa', 'Washington, DC',
       'Stavanger', 'Los Angeles', 'Helsinki', 'Vancouver', 'Berlin',
       'Toronto', 'New York', 'Chicago', 'Taipei', 'DÃ¼sseldorf',
       'Reykjavik', 'Lyon', 'Helsingborg', 'Munich', 'Philadelphia',
       'Hamburg', 'Geneva', 'Luxembourg', 'Aarhus', 'Turku', 'Espoo',
       'Paris', 'Hannover', 'Strasbourg', 'Joensuu', 'Sydney',
       'Frankfurt am Main', 'San Francisco', 'Oulu', 'Cologne', 'Bochum',
       'Stuttgart', 'HÃ¤meenlinna', 'London', 'Tampere', 'Adelaide',
       'Melbourne', 'Tokyo', 'JyvÃ¤skylÃ¤', 'Perth', 'Vantaa', 'Auckland',
       'Osaka', 'Bordeaux', 'Milan', 'Madrid', 'Daejeon', 'Nantes',
       'Brussels', 'Marseille', 'Leeds', 'Lahti', 'Dublin', 'Abu Dhabi',
       'Verona', 'Seoul', 'Nice', 'Tallinn', 'Dubai', 'Catania',
       'Bayreuth', 'Turin', 'Florence', 'Birmingham', 'Budapest', 'Bari',
       'Bratislava', 'Ljubljana', 'Perugia', 'Tel Aviv', 'Hong Kong',
       'Barcelona', 'Ancona', 'Lisbon', 'Prague', 'Rome', 'Shanghai',
       'Kuala Lampur', 'Genova', 'Naples', 'Moscow', 'Riga', 'Beijing',
       'St Petersburg', 'Calgary', 'Edmonton'], dtype=object)

In [8]:
# We are going to replace the misspelled City names:

In [9]:
df_smart["City"] = df_smart["City"].str.replace("DÃ¼sseldorf", "Dusseldorf")
df_smart["City"] = df_smart["City"].str.replace("VÃ¤sterÃ¥s", "Vasteras")
df_smart["City"] = df_smart["City"].str.replace("HÃ¤meenlinna", "Hameenlinna")
df_smart["City"] = df_smart["City"].str.replace("JyvÃ¤skylÃ¤", "Jyvaskyla")
df_smart["Country"] = df_smart["Country"].str.replace("United States", "United States Of America")

In [10]:
#no funciona
#dict2_rename = {'DÃ¼sseldorf':'Düsseldorf','VÃ¤sterÃ¥s':'Västerås','HÃ¤meenlinna' : 'Hämeenlinna','JyvÃ¤skylÃ¤' : 'Jyväskylä',}
#df_smart.rename(df_smart["City"] == dict2_rename, inplace=True)
#df_smart.head()

In [11]:
df_smart.City.unique()

array(['Oslo', 'Bergen', 'Amsterdam', 'Copenhagen', 'Stockholm',
       'Montreal', 'Vienna', 'Odense', 'Singapore', 'Boston', 'Zurich',
       'Trondheim', 'Vasteras', 'Aalborg', 'Ottawa', 'Washington, DC',
       'Stavanger', 'Los Angeles', 'Helsinki', 'Vancouver', 'Berlin',
       'Toronto', 'New York', 'Chicago', 'Taipei', 'Dusseldorf',
       'Reykjavik', 'Lyon', 'Helsingborg', 'Munich', 'Philadelphia',
       'Hamburg', 'Geneva', 'Luxembourg', 'Aarhus', 'Turku', 'Espoo',
       'Paris', 'Hannover', 'Strasbourg', 'Joensuu', 'Sydney',
       'Frankfurt am Main', 'San Francisco', 'Oulu', 'Cologne', 'Bochum',
       'Stuttgart', 'Hameenlinna', 'London', 'Tampere', 'Adelaide',
       'Melbourne', 'Tokyo', 'Jyvaskyla', 'Perth', 'Vantaa', 'Auckland',
       'Osaka', 'Bordeaux', 'Milan', 'Madrid', 'Daejeon', 'Nantes',
       'Brussels', 'Marseille', 'Leeds', 'Lahti', 'Dublin', 'Abu Dhabi',
       'Verona', 'Seoul', 'Nice', 'Tallinn', 'Dubai', 'Catania',
       'Bayreuth', 'Turin', 'Florence', 'Birmingham', 'Budapest', 'Bari',
       'Bratislava', 'Ljubljana', 'Perugia', 'Tel Aviv', 'Hong Kong',
       'Barcelona', 'Ancona', 'Lisbon', 'Prague', 'Rome', 'Shanghai',
       'Kuala Lampur', 'Genova', 'Naples', 'Moscow', 'Riga', 'Beijing',
       'St Petersburg', 'Calgary', 'Edmonton'], dtype=object)

In [12]:
df_smart.Country.unique()

array(['Norway', 'Netherlands', 'Denmark', 'Sweden', 'Canada', 'Austria',
       'Singapore', 'United States Of America', 'Switzerland', 'Finland',
       'Germany', 'Taiwan', 'Iceland', 'France', 'Luxembourg',
       'Australia', 'United Kingdom', 'Japan', 'New Zealand', 'Italy',
       'Spain', 'South Korea', 'Belgium', 'Ireland',
       'United Arab Emirates', 'Estonia', 'Hungary', 'Slovakia',
       'Slovenia', 'Israel', 'China', 'Portugal', 'Czech Republic',
       'Malaysia', 'Russia', 'Latvia'], dtype=object)

In [13]:
# Check null values by columns
df_smart.isnull().sum()

City                 0
Country              0
Smart_Mobility       0
Smart_Environment    0
Smart_Government     0
Smart_Economy        0
Smart_People         0
Smart_Living         0
SmartCity_Index      0
dtype: int64

# 4. Download clean data into a new csv. file

In [14]:
df_smart.to_csv("../data/clean_smart.csv")